.header {
  background-color: #b0e0e6;
  color:  #003366;
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  padding-bottom: 15px;
}

.topnav {
  float: right;
  padding-top: 10px;
}

.topnav a {
  padding: 10px;
  text-transform: uppercase;
  color: #003366;
}

.topnav a:hover {
  background-color: #eae2dc;
  color: #003366;
  text-decoration: none;
}

body {
  background-image: url("background_pic.jpg");
  background-size: cover;
}

.picture img {
  border-radius: 50px;
  margin-top: 60px;
  height: 340px;
  width: 320px;
  margin-left: 10px;
}

.homepage-circles {
  background-color: #b0e0e6;
  border-radius: 50px;
  height: 340px;
  width: 320px;
  margin: 10px;
  margin-top: 60px;
  margin-right: 20px;
  padding: 20px;
}

p {
  color:  #003366;
  text-align: center;
  font-size: 22px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
  color:  #003366;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-top: 50px;
  margin-bottom: 30px;
}

h6 {
  font-style: italic;
}

.quote {
  color:  #003366;
  font-size: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  font-style: italic;
  margin-top: 50px;
  width: 300px;
}

.dad {
  margin-left: 60px;
}

.about-me {
  color:  #003366;
  font-size: 18px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-top: 50px;
  width: 600px;
}

/* Hide the icon that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links. Show the icon that should open and close the topnav */
@media screen and (max-width: 767px) {
  h1 {
    padding-bottom: 0px;
  }
  .topnav {
    float: left;
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
  .container {
    margin-top: 0px;
  }
  .resume {
    margin-top: 40px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 767px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    display: none;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
